@font-face{
    font-family:'font_h1';
    src:url('/font/SinkinSans-500Medium.otf');
}

@font-face{   
    font-family:'1menu4';
    src:url('/font/KaushanScript-Regular.otf');
}

body{
    margin:0;
    padding:0;

    font-family: 'font_h1';
}
header{
    background-color:#579c87;
    color:#fdcb46;

    font-size:1.2rem;
    text-align:center;
}
h1{
    height:8vh;
    margin:0;
    padding-top:2vh;

    font-size:1.6rem;
}
h1 a{
    text-decoration: none;
    color:#fdcb46;
}

h2{
    font-size:2.3rem;
    margin-top:0;
    margin-bottom:50px;
    font-family:'1menu4';
}
h3{
    display:flex;
    justify-content: space-between;
}




.trait{
    height: 3px;
    width:20vw;
    background-color:black;
    margin-top:10px;
}
.menu{
    display:flex;
    justify-content: space-between;
}




main{
    
    margin:2vh 8vw 8vh 8vw;
    padding: 5vh 6vw 2vh 6vw;

    box-shadow: 6px 6px 5px #ededed;
    font-family:'1menu4';

    background-color: #fdfffd;
    font-family: 'comic sans ms';
    font-size:0.9rem;
}
section{
    margin-bottom:8vh;
}



.entete{
    text-align: center;
}

footer{
    background-color:#579c87;
    color:#fdcb46;
    display:flex;
    justify-content: space-between;
    

    position:fixed;
    bottom:0;

    width: 100%;
    height: 6vh;
    align-items:center;
}

footer a{
    text-decoration: none;
    color:#fdcb46;
    padding: 0 2vw 0 2vw;
}


footer a:hover{
    animation: wizz 400ms;
}


@keyframes wizz{
    0%{
        transform: translateX(5px);
    }
    20%{
        transform:translateX(-5px);
    }
    50%{
        transform: translateX(3px);
    }
    75%{
        transform: translateX(-3px);
    }
    100%{
        transform: translateX(0);
    }
}
