body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579c87;
  color: #fdcb46;
  text-align: center;
  height: 90px;
}
header h1 {
  font-size: 2.4rem;
  color: #fdcb46;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  justify-content: space-evenly;
  padding: 2vh 5vw 2vh 5vw;
}
section p {
  font-size: 1.8rem;
}
section i {
  background: -webkit-linear-gradient(left, #f05160, #f7c727);
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.style {
  text-align: center;
  text-decoration: none;
  width: 50vw;
  min-width: 210px;
  height: 30vh;
  box-shadow: 0px 0px 6px 4px #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

.one {
  background-color: #fcdfdb;
  color: #3c1218;
}
.one i {
  margin-top: 30px;
}
.one h2 {
  font-size: 0.8rem;
  margin: 0;
  font-family: "Courgette", cursive;
}
.one .menu1 {
  font-family: "Kalam", cursive;
  font-size: 1.6rem;
  margin-top: 10px;
}

.two {
  background-color: #fff5fe;
}
.two h2 {
  background: -webkit-linear-gradient(right, #905bfd, #d8852e);
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lobster Two", cursive;
  font-size: 1rem;
  padding: 0;
}
.two .menu2 {
  font-family: "Libre Baskerville", serif;
  color: #d8852e;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0;
}

.three {
  background-color: #f9f9f9;
}
.three h2 {
  background: -webkit-linear-gradient(right, #91c7fd, #0431df);
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Alex Brush", cursive;
  font-size: 1.4rem;
  margin-top: 0;
}
.three .menu3 {
  color: #0887fb;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  margin: 0;
}

.four {
  background-color: #fdfffd;
}
.four h2 {
  background: -webkit-linear-gradient(right, #bfff7e, #42973c);
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script", cursive;
  font-size: 1.1rem;
  margin-top: 0;
}
.four .menu4 {
  color: #72bf56;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  margin: 0;
}

.zoom {
  transition: transform 400ms ease-in-out;
}
.zoom:hover {
  transform: scale(1.3);
}

#prochainement {
  display: flex;
  justify-content: center;
  background-color: #579c87;
  color: #fdcb46;
  border-radius: 10px;
  font-size: 1.3rem;
  width: 200px;
  margin-bottom: 70px;
}
#prochainement p {
  position: relative;
  margin: 1.1vh 0 1.1vh 0;
}
#prochainement .dot {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 0.5vw;
}
#prochainement .dot #dot_1 {
  animation: pointier 700ms infinite ease-in-out;
}
#prochainement .dot #dot_2 {
  animation: pointier 700ms 150ms infinite ease-in-out;
}
#prochainement .dot #dot_3 {
  animation: pointier 700ms 300ms infinite ease-in-out;
}

footer {
  background-color: #579c87;
  color: #fdcb46;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5.7vh;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #fdcb46;
  padding: 0 2vw 0 2vw;
  font-size: 1.2rem;
}
footer :first-child {
  animation: wizzinverse 500ms infinite;
}
footer :last-child {
  animation: wizz 500ms infinite;
}

/* Animation */
@keyframes pointier {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes wizz {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(4);
  }
}
@keyframes wizzinverse {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(4);
  }
}
/* Media Queries */
@media screen and (max-width: 345px) {
  header {
    height: 80px;
  }
  header h1 {
    padding: 3vh 0 3vh 0;
  }

  footer a {
    font-size: 0.7rem;
  }

  #prochainement {
    font-size: 1rem;
    width: 170px;
    margin-bottom: 60px;
  }
  #prochainement #dot_1 {
    left: 148px;
    bottom: 5px;
  }
  #prochainement #dot_2 {
    left: 152px;
    bottom: 5px;
  }
  #prochainement #dot_3 {
    left: 156px;
    bottom: 5px;
  }
}
@media screen and (min-width: 550px) {
  header {
    padding-top: 10px;
  }
  header h1 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    justify-content: center;
  }
  .container .row {
    display: flex;
  }
  .container section {
    width: 30vw;
    max-width: 400px;
    margin-top: 1vh;
    padding: 30px 20px 0 20px;
  }
  .container section .style {
    height: 31vh;
  }

  #prochainement {
    margin-top: 30px;
    font-size: 1.4rem;
    padding: 0 3vw 0 3vw;
  }
}
@media screen and (min-width: 900px) {
  .container .style {
    font-size: 2rem;
  }
  .container .style h2 {
    font-size: 0.6em;
  }
  .container .style p {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
