body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

header {
  background-color: #579c87;
  text-align: center;
  height: 94px;
}
header h1 {
  height: 7vh;
  margin: 0;
  padding-top: 2.5vh;
  font-size: 2.4rem;
}
header h1 a {
  text-decoration: none;
  color: #fdcb46;
}

aside {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.9vh;
  text-shadow: 0 0 1.2px;
}
aside p {
  margin-bottom: 1.5vh;
}

main {
  margin: 0 8vw 0 8vw;
  padding: 4.5vh 3vw 2vh 3vw;
  box-shadow: 0px 0px 5px 5px #ededed;
  background-color: #fff5fe;
  font-size: 0.9rem;
}

.entete {
  text-align: center;
}
.entete h2 {
  font-size: 1.5rem;
  margin-top: 3.2vh;
  margin-bottom: 7vh;
  font-family: "Libre Baskerville", serif;
  background: -webkit-linear-gradient(left, #e38913, #8f5bfe);
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section .container {
  display: flex;
  justify-content: space-between;
}
section .container .traitGauche, section .container .traitDroit {
  width: 24vw;
  height: 18px;
  margin: 0;
  padding: 0;
}
section .container h3 {
  cursor: pointer;
  font-size: 0.8rem;
  font-family: "Libre Baskerville", serif;
  margin: 3px 0 3px 0;
  padding: 0;
}
section .menu {
  display: flex;
  justify-content: space-between;
  font-size: 0.72rem;
  margin: 0 8.5vw 0 8.5vw;
  padding: 0;
}
section .menu p {
  margin: 6px 0 6px;
}
section .dernier {
  padding-bottom: 40px;
}
section .gras {
  font-weight: bold;
}
section .menu:last-child {
  margin-bottom: 45px;
}

#containerHaut {
  color: #b97215;
}
#containerHaut .sousligner {
  background-color: #b97215;
}

#containerMilieu {
  color: #a56799;
}
#containerMilieu .sousligner {
  background-color: #a56799;
}

#containerBas {
  color: #6e4ccc;
}
#containerBas .sousligner {
  background-color: #6e4ccc;
}

.titresouligne {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}
.titresouligne h3:hover + .sousligner {
  transform: scaleX(1);
  transform-origin: left;
}
.titresouligne .sousligner {
  height: 3px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  padding: 0;
  margin: 0;
}

footer {
  background-color: #579c87;
  color: #fdcb46;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6vh;
  align-items: center;
  font-size: 1.3rem;
}
footer a {
  text-decoration: none;
  color: #fdcb46;
  padding: 0 2vw 0 2vw;
}
footer :first-child {
  animation: wizzinverse 500ms infinite;
}
footer :last-child {
  animation: wizz 500ms infinite;
}

@keyframes wizz {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(4);
  }
}
@keyframes wizzinverse {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(4);
  }
}
@media screen and (max-width: 345px) {
  header {
    height: 80px;
  }

  aside {
    margin-bottom: 15px;
  }

  main {
    margin: 0 0 80px 0;
  }
  main h2 {
    font-size: 1.5rem;
    margin-bottom: 8vh;
  }
  main h3 {
    font-size: 1rem;
    margin-top: 20px;
    padding: 5px 5px 5px 5px;
    text-align: center;
  }

  footer a {
    font-size: 1rem;
  }

  .traitGauche, .traitDroit {
    margin-top: 6px;
  }
}
@media screen and (min-width: 600px) {
  .menu p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 900px) {
  .menu p {
    padding: 0 5vw 0 5vw;
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=stylePage2.css.map */
