body{
    margin:0;
    padding:0;

    font-family: 'Fira Sans', sans-serif;
}

header{
    background-color:#579c87;
    color:#fdcb46;

    font-size:1.2rem;
    text-align:center;

    h1{
        margin:0;
        padding:1vh 0 1vh;
        font-size:2rem;
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display:flex;
    justify-content: space-evenly;
    padding: 2vh 2vw 2vh 2vw;

    p{
        font-size: 1.8rem;
    }
    
    i{
        background: -webkit-linear-gradient(left,#f05160, #f7c727);
        background-clip: initial;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}





.one {
    background-color:#fcdfdb;
    color:#3c1218;

    h2{
        font-size:1.4rem;
    }
    .text_menu1{
        font-family: 'Courgette', cursive;
    }
    .menu1{
        font-family: 'Kalam', cursive;
    }
}


.two {
    background-color:#fff5fe;
    
    h2{
        background: -webkit-linear-gradient(right, #905bfd ,#d8852e);
        background-clip: initial;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text_menu2{
        font-family: 'Lobster Two', cursive;
        font-size:1.3rem;
    }
    .menu2{
        font-family: 'Libre Baskerville', serif;
        color:#d8852e; 
    }
}


.three {
    background-color:#f9f9f9;

    h2{
        background: -webkit-linear-gradient(right, #91c7fd,#0431df);
        background-clip: initial;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text_menu3{
        font-family: 'Alex Brush', cursive;
        font-size:1.7rem;
    }
    .menu3{
        color:#0887fb;  
        font-family: 'Indie Flower', cursive;
        font-weight: bold; 
    }
    
}

.four {
    background-color:#fdfffd;

    h2{
        background: -webkit-linear-gradient(right, #bfff7e,#42973c);
        background-clip: initial;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text_menu4{
        font-family: 'Kaushan Script', cursive;
    }
    .menu4{
        color:#72bf56; 
        font-family: 'Indie Flower', cursive;
        font-weight: bold; 
    }
}








.style{
    text-align: center;
    text-decoration: none;

    
    height:40vh;
    width:60vw;
    min-width:250px;

    box-shadow: 0px 0px 10px 3px #ededed;

    display:flex;
    flex-direction: column;
    justify-content: center;


    .zoom{
        transition:transform 400ms ease-in-out;
    
        &:hover{
        transform:scale(1.3);
       }
    } 
}

#prochainement{
    display:flex;
    justify-content: center;

    background-color:#579c87;
    color:#fdcb46;
    border-radius: 12px;

    margin-bottom: 8vh;
    padding-left:3vw;
    padding-right:3vw;

    font-size: 1.3rem;

    p {
        position:relative;
        margin:1.1vh 0 1.1vh 0;
    }

    .dot{
        position:relative;
        display:flex;
        align-items: center;

        margin-left:0.5vw;

        #dot_1{
            animation:pointier 600ms infinite;
        }
    
        #dot_2{
            animation:pointier 600ms  100ms infinite;
        }
    
        #dot_3{
            animation:pointier 600ms 200ms infinite;
        }
    }
}

footer{
    background-color:#579c87;
    color:#fdcb46;
    display:flex;
    justify-content: space-between;
    
    position:fixed;
    bottom:0;

    width: 100%;
    height: 6vh;
    align-items:center;

    a{
        text-decoration: none;
        color:#fdcb46;
        padding: 0 2vw 0 2vw;
    
        &:hover{
            animation: wizz 400ms;
        }
    }
}





@media screen and (max-width:345px){
    h1{
        font-size:0.5rem;
    }

    footer a{
        font-size:0.7rem;
    }

    #prochainement{
        font-size:0.8rem;
        width:180px;

        #dot_1{
            left:148px;
            bottom:5px;
        }
        #dot_2{
            left:152px;
            bottom:5px;
        }
        #dot_3{
            left:156px;
            bottom:5px;
        }   
    }
}

@media screen and (min-width:600px){   /* > 600px */
    .container{
       display: flex;
       flex-wrap:wrap;
       justify-content: center;
    }

    section{
        width:40%;
    }   

    h1{
        height: 60px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:1024px){
     section{
         width:19%;
     }
}








@keyframes pointier{
    0%{
        transform:translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes wizz{
    0%{
        transform: translateX(5px);
    }
    20%{
        transform:translateX(-5px);
    }
    50%{
        transform: translateX(3px);
    }
    75%{
        transform: translateX(-3px);
    }
    100%{
        transform: translateX(0);
    }
}

