body{
    margin:0;

    font-family: 'Fira Sans', sans-serif;
}

header{
    background-color:#579c87;
    color:#fdcb46;

    text-align:center;
    height:94px;

    h1{
        height:7vh;
        margin:0;
        padding-top:2.5vh;
    
        font-size:2.4rem;
    
        color:#fdcb46;
    }

    h1 a{
        text-decoration: none;
        color:#fdcb46;
    }
    
}

aside{
    display: flex;
    justify-content: center;

    font-size:1.5rem;
    font-weight: bold;

    margin-top:0.9vh;

    text-shadow: 0 0 1.2px;

    p{
        margin-bottom:1.5vh;
    }
}

main{
    margin:0 10vw 0 10vw;
    padding: 4.5vh 8vw 2vh 8vw;

    box-shadow: 0px 0px 5px 5px #ededed;
    background-color:#fcdfdb;
    font-size:0.9rem;
}



.entete{
    text-align: center;

    i{
        background: -webkit-linear-gradient(left,#f05160, #f6916a);
        background-clip: initial;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }    

    h2{
        font-size:1.4rem;
        margin-top:0;
        margin-bottom:3.6vh;
    
        font-family: 'Courgette', cursive;
    }
}


section{
    .container{
        display:flex;
        justify-content: space-between;

        .traitGauche,.traitDroit{
            width:22vw;
            height:15px;
        }
    }

    .menu{
        display:flex;
        justify-content: space-between;

        font-size:0.65rem;

        margin:0;
        padding:0;

        p{
            margin:6px 0 6px;
        }
    }
    .gras{
        font-weight: bold;
    }
    #dessert_sans_prix p{
        padding: 8px 0 8px;
    }

    .menu:last-child{
        margin-bottom:38px;
    }
}


.titresouligne{
    display:flex;
    flex-direction:column;
    margin-bottom:6px;


    h3{
        font-size:0.9rem;
        cursor:pointer;
        margin:0;
    }    

    .sousligner{
        height:3px;
        width:100%;
        background-color:#a02121;
    
        transform: scaleX(0);
        transition:transform 500ms ease-in-out;
    }

    h3:hover + .sousligner{
        transform:scaleX(1);
        transform-origin: left;
    }
}



.pied{
    display:flex;
    justify-content:center;
    align-items:center;

    padding-bottom:2vh;

    p{
        margin-left:10px;
        font-size:1.1rem;
        font-family: 'Courgette', cursive;
        font-weight: bold;

        margin:0;
        padding:0 0 0 1vw;
    }
    i{
        background: -webkit-linear-gradient(left,#f05160, #cea624);
        background-clip: initial;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        margin-bottom:0.2vh;
    }
}



footer{
    background-color:#579c87;
    color:#fdcb46;
    display:flex;
    justify-content: space-between;
    
    position:fixed;
    bottom:0;

    width: 100%;
    height: 6vh;
    align-items:center;

    font-size: 1.3rem;;

    a{
        text-decoration: none;
        color:#fdcb46;
        padding: 0 2vw 0 2vw;
    }

    :first-child{
        animation: wizzinverse 500ms infinite;
    }
    :last-child{
        animation: wizz 500ms infinite;
    }
}



@keyframes wizz{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform:translateX(4px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-4px);
    }
    100%{
        transform: translateX(4);
    }
}

@keyframes wizzinverse{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform:translateX(-4px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(4px);
    }
    100%{
        transform: translateX(4);
    }
}





@media screen and (max-width:345px){

    h1{
        padding:3vh 0 3vh 0;
    }

    h2{
        font-size:1.5rem;
        margin-bottom:8vh;
    }
    
    h3{
        font-size:1rem;
        margin-top:20px;
        padding: 5px 5px 5px 5px;
        text-align: center;
    }
    footer a{
        font-size:0.7rem;
    }
    #prochainement{
        font-size:0.8rem;
        width:180px;   
    }
    .pied{
        display:flex;
        flex-direction: column;
        text-align:center;
    }
    main{
        margin:0 0 20px 0;
    }
}